.App {
  text-align: center;
}


/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.img {
  align-items: center;
}

#nav {
  width: 100%;
  float: left;
  margin: 0 0 3em 0;
  padding: 0;
  list-style: none;
  background-color: #B71E1E;
  /* border-bottom: 1px solid #ccc; 
  border-top: 1px solid #ccc; */
 }

#nav li a {
      display: block;
      flex-direction: column;
      padding: 8px 15px;
      text-decoration: none;
      font-weight: bold;
      color: white;
      border-right: 1px solid #ccc; }

#brand-logo {
  align-items: left;
}
.Card {
  background: #C4C4C4;
  border-radius: 10px;
  flex-direction: row;
  padding: 10px;
  cursor: pointer;
  
}

.Card_name {
  text-align: center;
  text-transform: capitalize;
  font-weight: 800;
  text-decoration: none;
}

.grid-container {
  width: 70%;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
}