.App {
  text-align: center;
  margin-bottom: 5%;
}


.img {
  align-items: center;
}

#nav {
  width: 100%;
  margin: 0 0 3em 0;
  padding: 2% 0;
  list-style: none;
  background-color: #B71E1E;
  /* border-bottom: 1px solid #ccc; 
  border-top: 1px solid #ccc; */
 }

#nav li a {
      display: block;
      flex-direction: column;
      padding: 8px 15px;
      text-decoration: none;
      font-weight: bold;
      color: white;
      border-right: 1px solid #ccc; }

#brand-logo {
  align-items: left;
}
.Card {
  background: #C4C4C4;
  border-radius: 10px;
  flex-direction: row;
  padding: 10px;
  cursor: pointer;
  transition: transform .15s;
}

.Card:hover {
  transform: scale(1.01);
	box-shadow: 0px 4px 3px 0px rgba(0,0,0,0.2);
}

.Card_name {
  text-align: center;
  text-transform: capitalize;
  font-weight: 800;
  text-decoration: none;
}

.grid-container {
  width: 70%;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
  margin-top: 2%;
}

table {
  margin-top: 10px;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  
}
td {
  /* text-transform: capitalize; */
  text-align: center;
}


#search {
  border-radius: 1%;
  outline: none;
  border: black solid 1px;
  font-size: 1.4rem;
  padding-left: 1%;
  padding: 0.3%;
}

#searchButton {
  border-radius: 50%;
  font-size: 1.4rem;
  background: white;
  border: white;
  cursor: pointer;
}

#searchButton:hover {
  color: #017048;
}

.navButton {
  color: white;
  background-color: black;
  font-weight: bold;
  padding: 1% 2%;
  outline: none;
  border: none;
  cursor: pointer;
  border: black 2px solid;
  margin-top: 3%;
}

.navButton:hover {
  color: #017048;
  background-color: white;
  border: black 2px solid;
}

#next {
  margin-left: 1.5%;
}

#prev {
  margin-right: 1.5%;
}


.stat {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #000;
  padding: 8px 8px 12px 8px;

}

.stat-name {
  width: 140px;
  text-transform: capitalize;
}
/* .value p {
  margin: 0px 5px;
} */
.value {
  width: 100px;
}

.height-weight {
  font-weight: bold;
}

.damage-type {
  width: 200px;
}
.damage-value p{
  width:75px;
  height: 5px;
}
.damage-value {
  display: flex;
  
}

.move-name {
  width: 150px;
  text-transform: capitalize;
}

.move-value {
  width: 300px;
  padding: 8px 8px 12px 8px;
}

.grass-block{
  color: white;
  background:#008000;
  
  align-items: center;
  justify-items: center;
  border-radius: 5px;
  padding: 1px 3px 3px 3px;
  box-shadow: 0px 0px 2px #000;

  margin: '0px 5px';
  display: 'grid';
  grid-template-columns: '1fr 1fr';
  align-items: 'center';
  justify-items: 'center';
}
.poison-block{
  color: white;
  background: #800080;
  
  align-items: center;
  justify-items: center;
  border-radius: 5px;
  padding: 1px 3px 3px 3px;
  box-shadow: 0px 0px 2px #000;

  margin: '0px 5px';
  display: 'grid';
  grid-template-columns: '1fr 1fr';
  align-items: 'center';
  justify-items: 'center';
}
.fire-block{
  color: white;
  background:#FFA500;
  
  align-items: center;
  justify-items: center;
  border-radius: 5px;
  padding: 1px 3px 3px 3px;
  box-shadow: 0px 0px 2px #000;

  margin: '0px 5px';
  display: 'grid';
  grid-template-columns: '1fr 1fr';
  align-items: 'center';
  justify-items: 'center';
}
.flying-block{
  color: white;
  background: #967BB6;
  
  align-items: center;
  justify-items: center;
  border-radius: 5px;
  padding: 1px 3px 3px 3px;
  box-shadow: 0px 0px 2px #000;

  margin: '0px 5px';
  display: 'grid';
  grid-template-columns: '1fr 1fr';
  align-items: 'center';
  justify-items: 'center';
}
.water-block{
  color: white;
  background: #4343E9;
  
  align-items: center;
  justify-items: center;
  border-radius: 5px;
  padding: 1px 3px 3px 3px;
  box-shadow: 0px 0px 2px #000;

  margin: '0px 5px';
  display: 'grid';
  grid-template-columns: '1fr 1fr';
  align-items: 'center';
  justify-items: 'center';
}
.bug-block{
  color: white;
  background: #41DA41;
  
  align-items: center;
  justify-items: center;
  border-radius: 5px;
  padding: 1px 3px 3px 3px;
  box-shadow: 0px 0px 2px #000;

  margin: '0px 5px';
  display: 'grid';
  grid-template-columns: '1fr 1fr';
  align-items: 'center';
  justify-items: 'center';
}
.normal-block{
  color: black;
  background: #dedede;
  
  align-items: center;
  justify-items: center;
  border-radius: 5px;
  padding: 1px 3px 3px 3px;
  box-shadow: 0px 0px 2px #000;

  margin: '0px 5px';
  display: 'grid';
  grid-template-columns: '1fr 1fr';
  align-items: 'center';
  justify-items: 'center';
}
.electric-block{
  color: black;
  background: #FFDF00;
  
  align-items: center;
  justify-items: center;
  border-radius: 5px;
  padding: 1px 3px 3px 3px;
  box-shadow: 0px 0px 2px #000;

  margin: '0px 5px';
  display: 'grid';
  grid-template-columns: '1fr 1fr';
  align-items: 'center';
  justify-items: 'center';
}
.fairy-block{
  color: white;
  background:#fb0291;
  
  align-items: center;
  justify-items: center;
  border-radius: 5px;
  padding: 1px 3px 3px 3px;
  box-shadow: 0px 0px 2px #000;

  margin: '0px 5px';
  display: 'grid';
  grid-template-columns: '1fr 1fr';
  align-items: 'center';
  justify-items: 'center';
}
.fighting-block{
  color: white;
  background:#fb5902;
  
  align-items: center;
  justify-items: center;
  border-radius: 5px;
  padding: 1px 3px 3px 3px;
  box-shadow: 0px 0px 2px #000;

  margin: '0px 5px';
  display: 'grid';
  grid-template-columns: '1fr 1fr';
  align-items: 'center';
  justify-items: 'center';
}
.psychic-block{
  color: white;
  background: #6a02fb;
  
  align-items: center;
  justify-items: center;
  border-radius: 5px;
  padding: 1px 3px 3px 3px;
  box-shadow: 0px 0px 2px #000;

  margin: '0px 5px';
  display: 'grid';
  grid-template-columns: '1fr 1fr';
  align-items: 'center';
  justify-items: 'center';
}
.rock-block{
  color: white;
  background: #B5651D;
  
  align-items: center;
  justify-items: center;
  border-radius: 5px;
  padding: 1px 3px 3px 3px;
  box-shadow: 0px 0px 2px #000;

  margin: '0px 5px';
  display: 'grid';
  grid-template-columns: '1fr 1fr';
  align-items: 'center';
  justify-items: 'center';
}
.steel-block{
  color: white;
  background: #808080;
  
  align-items: center;
  justify-items: center;
  border-radius: 5px;
  padding: 1px 3px 3px 3px;
  box-shadow: 0px 0px 2px #000;

  margin: '0px 5px';
  display: 'grid';
  grid-template-columns: '1fr 1fr';
  align-items: 'center';
  justify-items: 'center';
}
.ice-block{
  color: black;
  background:#ADD8E6;
  
  align-items: center;
  justify-items: center;
  border-radius: 5px;
  padding: 1px 3px 3px 3px;
  box-shadow: 0px 0px 2px #000;

  margin: '0px 5px';
  display: 'grid';
  grid-template-columns: '1fr 1fr';
  align-items: 'center';
  justify-items: 'center';
}
.ghost-block{
  color: white;
  background: #5c5858;
  
  align-items: center;
  justify-items: center;
  border-radius: 5px;
  padding: 1px 3px 3px 3px;
  box-shadow: 0px 0px 2px #000;

  margin: '0px 5px';
  display: 'grid';
  grid-template-columns: '1fr 1fr';
  align-items: 'center';
  justify-items: 'center';
}
.ground-block{
  color: black;
  background:#D2B48C;
  
  align-items: center;
  justify-items: center;
  border-radius: 5px;
  padding: 1px 3px 3px 3px;
  box-shadow: 0px 0px 2px #000;

  margin: '0px 5px';
  display: 'grid';
  grid-template-columns: '1fr 1fr';
  align-items: 'center';
  justify-items: 'center';
}


#errorMessg{
    margin-top: 20%;
    border: #B71E1E solid 4px;
    border-radius: 17px;
    width: 89%;
    padding: 3% 4%;
    margin: 12% auto;
    justify-content: center;
  }